<!-- main-slider -->
<section class="w3l-main-content" id="home">
  <div class="container">
    <div class="row align-items-center w3l-slider-grids">
      <div class="col-lg-6 w3l-slider-left-info pe-lg-5">
        <h6 class="title-subhny mb-2">What We Do</h6>
        <h3 class="mb-2 title">Seamlessly Connecting</h3>
        <h3 class="mb-4 title">Retailers and Distributors</h3>
        <!-- <p class="w3banr-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, excepturi.
                  Distinctio accusantium fugit odit fugit ipsam.</p> -->
        <div class="mt-sm-5 mt-4 d-flex">
          <a class="btn-style m-0 p-0 me-3" href="https://play.google.com/store/apps/details?id=com.zeromeds"
            target="_blank"><img class="svg p-0" src="./assets/images/black-google.svg" alt="google-SVG" /></a>
          <a class="btn-style m-0 p-0" href="https://apps.apple.com/in/app/zeromeds/id6503695925" target="_blank"><img
              class="svg" src="./assets/images/black-appstore.svg" alt="appstore-SVG" /></a>
        </div>
      </div>
      <div class="col-lg-6 w3l-slider-right-info mt-lg-0 mt-5 ps-lg-5 align-items-center">
        <div class="w3l-main-slider banner-slider">

          <div class="slider-info">
            <div class="w3l-slidehny-img ">
              <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0"
                    [attr.data-bs-interval]="slide.interval">
                    <img [src]="slide.img" class="d-block w-100 radius-image img-fluid"
                      style="box-shadow: rgba(115, 99, 99, 0.15) 1.95px 1.95px 2.6px;">
                  </div>
                </div>
              </div>


              <!-- <img src="assets/images/banner1.png" alt="" class="radius-image img-fluid"
                style="box-shadow: rgba(0, 0, 0, 0.15) 195px 1.95px 2.6px;"> -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /main-slider -->
<section class="w3l-grids-3 py-5">
  <div class="container py-md-5 py-3">
    <div class="row align-items-center">
      <div class="col-lg-6 header-sec">
        <!-- <h6 class="title-subhny mb-2">Design & Marketing</h6> -->
        <h3 class="title-w3l">
          Revolutionizing Pharmaceutical Supply Chain
        </h3>
      </div>
      <div class="col-lg-6 header-sec-paraw3 ps-lg-4">
        <p class="">Discover a smarter way to connect medicine retailers and distributors with
          <b>Zeromeds</b>. Our
          innovative platform is designed to create a seamless and efficient pharmaceutical
          supply chain, ensuring that essential medicines are always available when and where they are
          needed.
        </p>
      </div>
    </div>
    <!-- <div class="row bottom_grids text-left mt-lg-5 align-items-center">
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grid-block">
                  <a href="#grids" class="d-block">
                      <div class="grid-block-infw3">
                          <div class="grid-block-icon"><span class="fas fa-user-shield"></span></div>
                          <h4 class="my-3">Great Support.</h4>
                      </div>
                      <p class="">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in
                          ligula.Lorem ipsum viverra feugiat. </p>
                  </a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grid-block active">
                  <a href="#grids" class="d-block">
                      <div class="grid-block-infw3">
                          <div class="grid-block-icon"><span class="far fa-edit"></span></div>
                          <h4 class="my-3">Perfect Design.</h4>
                      </div>
                      <p class="">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in
                          ligula.Lorem ipsum viverra feugiat. </p>
                  </a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
              <div class="grid-block">
                  <a href="#grids" class="d-block">
                      <div class="grid-block-infw3">
                          <div class="grid-block-icon"><span class="fas fa-signal" aria-hidden="true"></span>
                          </div>

                          <h4 class="my-3">
                              SEO Optimized.</h4>
                      </div>
                      <p class="">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in
                          ligula.Lorem ipsum viverra feugiat. </p>
                  </a>
              </div>
          </div>
      </div> -->
  </div>
</section>
<!--//grids-->
<!--/circles-section-->
<!-- <section class="w3l-circles-sec" id="circle">
  <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-3">
          //row-2
          <div class="w3l-circles">
              <div class="w3l-circles-infhny">
                  <div class="title-content text-left">
                      <h6 class="title-subhny mb-2">Open the future</h6>
                      <h3 class="title-w3l two">Innovative Design & Branding

                      </h3>
                  </div>
                  <p class="mt-md-4 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                      ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                      elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet. </p>

              </div>
          </div>
          //row-2

      </div>
  </div>
</section> -->
<!--//circles-section-->
<!--/img-grids-->
<section class="w3l-img-grids" id="gridsimg">
  <div class="blog py-5" id="classes">
    <div class="container py-lg-5">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
          <div class="w3img-grids-info">
            <div class="w3img-grids-info-gd position-relative">
              <a href="#services">
                <div class="page">
                  <div class="photobox photobox_triangular photobox_scale-rotated ">
                    <div class="photobox__previewbox media-placeholder box-shadow ">
                      <img class="img-fluid photobox__preview media-placeholder__media radius-image"
                        src="assets/images/h1.png" alt="">
                    </div>
                    <div class="photobox__info-wrapper">
                      <div class="photobox__info"><span>Product</span></div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="w3img-grids-info-gd-content mt-4">
                <a href="#gridsimg" class="titile-img d-block">
                  <h4 class="mb-2">
                    Extensive Product Catalog</h4>
                </a>
                <p class="">Find a wide range of pharmaceutical products from trusted distributors,
                  ensuring you can meet your customers' needs with confidence. </p>

              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
          <div class="w3img-grids-info">
            <div class="w3img-grids-info-gd position-relative">
              <a href="#services">
                <div class="page">

                  <div class="photobox photobox_triangular photobox_scale-rotated box-shadow box-shadow">
                    <div class="photobox__previewbox media-placeholder">
                      <img class="img-fluid photobox__preview media-placeholder__media radius-image"
                        src="assets/images/h2.png" alt="">
                    </div>
                    <div class="photobox__info-wrapper">
                      <div class="photobox__info"><span>Deals </span></div>
                    </div>
                  </div>

                </div>
              </a>
              <div class="w3img-grids-info-gd-content mt-5 mt-lg-4">
                <a href="#gridsimg" class="titile-img d-block">
                  <h4 class="mb-2">Exclusive Deals</h4>
                </a>
                <p class="">Learn how to maximize your profit margins and product offerings through our exclusive deals
                  and promotions. </p>

              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
          <div class="w3img-grids-info">
            <div class="w3img-grids-info-gd position-relative">
              <a href="#services">
                <div class="page">
                  <div class="photobox photobox_triangular photobox_scale-rotated box-shadow">
                    <div class="photobox__previewbox media-placeholder">
                      <img class="img-fluid photobox__preview media-placeholder__media radius-image"
                        src="assets/images/h3.png" alt="">
                    </div>
                    <div class="photobox__info-wrapper">
                      <div class="photobox__info"><span> Real -Time</span></div>
                    </div>

                  </div>
                </div>
              </a>
              <div class="w3img-grids-info-gd-content mt-4">
                <a href="#gridsimg" class="titile-img d-block">
                  <h4 class="mb-2">
                    Real-Time Stock Updates</h4>
                </a>
                <p class="">Stay informed with instant notifications on inventory levels and Stock
                  statuses, reducing the risk of stockouts</p>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//img-grids-->



<!--/tabs-faqs-->
<section class="w3l-products w3l-faq-block py-5" id="projects">
  <div class="container py-md-5 py-2">
    <div class="header-secw3 text-center mb-5">
      <h6 class="title-subhny mb-2">faqs</h6>
      <h3 class="title-w3l mb-4">Ask Your Questions

      </h3>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto pe-lg-5">
        <div class="w3hny-business-img">
          <img src="assets/images/g8.svg" alt="" class="img-fluid radius-image">
        </div>

      </div>
      <div class="col-lg-6 mt-lg-0 mt-sm-5 mt-4">
        <div class="accordion">
          <div class="accordion-item" *ngFor="let item of faqs ,let i=index">
            <button id="accordion-button-1" [attr.aria-expanded]="item.active" (click)="toggleAccordion(i)"><span
                class="accordion-title">{{item.title}}</span><span class="icon" aria-hidden="true"></span></button>
            <div class="accordion-content">
              <p>{{item.content}} <a href="{{item?.link}}" target="_blank" *ngIf="item.link">video link</a>
                <a><span *ngIf="item.modal" style="color: green;" (click)="open()">video link</span></a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//tabs-faqs-->

<!--// video-section-->
<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Plcae Video</h5>

        <button type="button" class="btn btn-primary" (click)="close()">Close</button>
      </div>
      <div class="modal-body">
        <div class="mx-auto px-auto">
          <video id="order_video" controls width="100%">
            <source src="../../../../assets/images/order_place.mp4" type="video/mp4">

            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//video-section-->


<!-- testimonials -->
<section class="w3l-clients" id="clients">
  <!-- /grids -->
  <div class="cusrtomer-layout py-5">
    <div class="container py-lg-5 py-md-3">
      <!-- /grids -->
      <div class="testimonial-width">

        <div class="item">
          <div class="testimonial-content">
            <div class="testimonial">
              <blockquote>
                <i class="fas fa-quote-left"></i>
                <q> The support team at Zeromeds is outstanding. They're always responsive
                  and go above and beyond to ensure our experience with the platform is
                  seamless.</q>
              </blockquote>
              <div class="testi-des">

                <div class="peopl align-self">
                  <h3>Dawabazar</h3>
                  <p class="indentity">Distributor</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /grids -->
  </div>
  <!-- //grids -->
</section>
<!-- //testimonials -->
<!--/w3l-project-->
<section class="w3l-project-main">
  <div class="container">
    <div class="w3l-project py-md-5 py-4">
      <div class="row py-5 align-items-center">
        <div class="col-lg-6 w3l-project-right">
          <div class="bottom-info">
            <div class="header-section pr-lg-5">
              <h6 class="title-subhny mb-2">Stay Update!</h6>
              <h3 class="title-w3l">Subscribe to our newsletter
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-6 w3l-project-left">
          <form action="#" method="post" class="subscribe-wthree mt-lg-5 mt-4">
            <div class="flex-wrap subscribe-wthree-field">
              <input class="form-control" type="email" placeholder="Your Email Address" name="email" required="">
              <button class="btn btn-style btn-primary" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//w3l-project-->