<section class="w3l-footer-29-main">
  <div class="footer-29 pt-5">
    <div class="container py-lg-4">
      <div class="row footer-top-29">
        <div class="col-lg-10 col-md-10 footer-list-29 footer-1 pe-lg-5 order-2">
          <div class="row">
            <div class="col-lg-8 pe-lg-5 mb-3 me-lg-5">
              <div class="footer-logo mb-4">
                <h2><a class="navbar-brand" href="">
                    <span class="sublog">Zero</span>meds
                  </a></h2>
              </div>
              <p>We revolutionize retail and distribution with cutting-edge technology and seamless
                connections. Join our community to enhance your business efficiency and growth. Stay
                updated
                with our latest features and exclusive deals. Together, we build a smarter supply
                chain.

              </p>
            </div>
            <div class="col-lg-3">
              <div class="d-flex">
                <a class="btn-style p-0 me-3" href="https://play.google.com/store/apps/details?id=com.zeromeds"
                  target="_blank"><img class="svg" src="./assets/images/white-google.svg" alt="My Happy SVG" /></a>
                <a class="btn-style p-0" href="https://apps.apple.com/in/app/zeromeds/id6503695925" target="_blank"><img
                    class="svg" src="./assets/images/white-appstore.svg" alt="My Happy SVG" /></a>
              </div>
              <div class="main-social-footer-29 mt-5">
                <a href="#" class="facebook"><span class="fab fa-facebook-f"></span></a>
                <a href="#" class="twitter"><span class="fab fa-twitter"></span></a>
                <a href="#" class="instagram"><span class="fab fa-instagram"></span></a>
                <a href="#" class="linkedin"><span class="fab fa-linkedin-in"></span></a>
              </div>
            </div>

          </div>


        </div>
        <div class="col-lg-2 col-md-2 footer-list-29 footer-2 mt-sm-0 mt-5 mb-3">

          <ul>
            <h6 class="footer-title-29">Links</h6>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="blogs">Blogs</a></li>
            <li><a href="feedbacks">Feedbacks</a></li>
            <li><a href="privacy-policy">Privacy Policy</a></li>
            <li><a href="terms-condition">Terms & Condition</a></li>

          </ul>
        </div>
        <!-- <div class="col-lg-2 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                  <h6 class="footer-title-29">Services</h6>
                  <ul>
                      <li><a href="#traning">Web Design</a></li>
                      <li><a href="#traning">Development</a></li>
                      <li><a href="#traning">Marketing Plans</a></li>
                      <li><a href="#marketplace">Digital Services</a></li>
                      <li><a href="#experts">Email Marketing</a></li>
                      <li><a href="#platform">Product Selling</a></li>
                  </ul>

              </div> -->
        <!-- <div class="col-lg-2 col-md-6  footer-list-29 footer-4 mt-lg-0 mt-5">
                  <h6 class="footer-title-29">More Info</h6>
                  <ul>
                      <li><a href="#seo">Offline SEO</a></li>
                      <li><a href="#traning">Development</a></li>
                      <li><a href="#hack">Growth Hacking</a></li>
                      <li><a href="#studio">Film Studio</a></li>
                      <li><a href="#branding">Branding</a></li>
                      <li><a href="#experts">Email Marketing</a></li>
                      <li><a href="#marketplace">Lead Generation</a></li>
                  </ul>
              </div> -->
        <!-- <div class="col-lg-2 col-md-6  footer-list-29 footer-4 mt-lg-0 mt-5">
                  <h6 class="footer-title-29">Support</h6>
                  <ul>
                      <li><a href="#awards">Awards</a></li>
                      <li><a href="#secutiry">Security</a></li>

                      <li><a href="#proj">Products</a></li>
                      <li><a href="#efaq">faQ</a></li>
                      <li><a href="#help">Help</a></li>
                      <li><a href="#mail">Mail Us</a></li>
                      <li><a href="#terms">Terms
                          </a></li>
                      <li><a href="#policy">Privacy Policy</a></li>


                  </ul>
              </div> -->
      </div>
    </div>
  </div>
  <!-- copyright -->
  <section class="w3l-copyright text-center">
    <div class="container">
      <p class="copy-footer-29">© 2024 Zeromeds. All rights reserved. Design by <a href="https://Fastwhistle.com/"
          target="_blank">
          Fastwhistle</a></p>
    </div>

    <!-- move top -->
    <button (click)="topFunction()" id="movetop" title="Go to top" style="display: none;">
      <span class="fas fa-arrow-up"></span>
    </button>
    <!-- <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fas fa-arrow-up"></span>
    </button> -->
    <!-- <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }

    </script> -->
    <!-- /move top -->
  </section>
  <!-- //copyright -->
</section>