<section class="w3l-about-breadcrumb">
  <div class="breadcrumb-bg breadcrumb-bg-about">
    <div class="container py-lg-5 py-sm-4">
      <div class="w3breadcrumb-gids text-center">
        <div class="w3breadcrumb-info mt-5">
          <h2 class="w3ltop-title pt-4">Blogs</h2>
          <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Blogs</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w3l-contact-1 py-5" id="contact">
  <main class="container">
    <!-- <article class="my-5">
      <h2 class="title-w3l mb-2">Blog Title 1</h2>
      <p class="text-muted">Posted on October 30, 2024</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet facilisis urna.

      </p>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#blogModal1">
        Read More
      </button>
      <hr>
    </article> -->
    <article class="my-5"
      *ngFor="let blog of blogs |paginate: { itemsPerPage:this.options.limit, currentPage: this.options.page ,totalItems:resultBlogs?.totalDocs} ; let i = index ">
      <h2 class="title-w3l mb-2">{{blog.title}}</h2>
      <p class="text-muted">Posted on {{blog.date | date}}</p>
      <p>{{blog.content.slice(0, 120) + (blog.content.length > 120 ? '...' : '')}}
      </p>
      <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#blogModal1"
        (click)="openModal(blog)">
        Read More
      </button>
      <hr *ngIf="blogs.length-1 != i">
    </article>
    <div class="d-flex justify-content-end">
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>


  </main>
</section>


<div class="modal fade" id="blogModal1" tabindex="-1" aria-labelledby="blogModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blogModal1Label">{{modalData.title | titlecase}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">{{modalData.date | date}}</p>
        <p>
          {{modalData.content}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>