<section class="w3l-about-breadcrumb">
  <div class="breadcrumb-bg breadcrumb-bg-about">
    <div class="container py-lg-5 py-sm-4">
      <div class="w3breadcrumb-gids text-center">
        <div class="w3breadcrumb-info mt-5">
          <h2 class="w3ltop-title pt-4">Feedbacks</h2>
          <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Blogs</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<header *ngIf="!user">
  <p class="lead text-center text-danger"><strong>Note:- </strong> Login To Give Feedback</p>
</header>

<main class="container">
  <form class="my-5" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter your name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your email">
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea formControlName="message" class="form-control" id="message" rows="4"
        placeholder="Write your message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Feedback</button>
  </form>
</main>