<div class="container py-5">
  <h1>Terms and Conditions for FastWhistle Retailer</h1>
  <p>Last Updated: 26/06/2024</p>

  <h2 class="pt-5">1. Introduction</h2>
  <hr>
  <p>Welcome to Zeromeds Website/App. These Terms and Conditions govern your access to and use of our mobile application
    "Zeromeds" and our website located at www.zeromeds.in. By accessing or using our service, you agree to be bound by
    these Terms and Conditions.</p>

  <h2 class="pt-5">2. Use of Our Service</h2>
  <hr>
  <p>Zeromeds provides a digital platform for medical and pharmacy retailers to order pharmaceutical products from
    Pharma wholesalers/distributors/Stockists.</p>
  <ul>
    <li>Account Registration: You must register an account to use the features of our service. You are responsible for
      maintaining the confidentiality of your account password and for all activities that occur under your account.
    </li>
    <li>Service Use Restrictions: You agree not to use any service of ours for any unlawful purpose or in any way that
      interrupts, damages, or impairs the service.</li>
  </ul>

  <h2 class="pt-5">3. Intellectual Property Rights</h2>
  <hr>
  <p>The content, features, and functionality (including but not limited to all information, software, text, displays,
    images, video, and audio, and the design, selection, and arrangement thereof) are owned by 5 Inch Private Limited,
    its licensors, or other providers of such material and are protected by copyright and intellectual property laws.
  </p>

  <h2 class="pt-5">4. Purchases and Payments</h2>
  <hr>
  <p>If you wish to purchase any product made available through the service, you may be asked to supply certain
    information relevant to your Purchase including your billing address, mobile number, name and your shipping
    information.</p>

  <h2 class="pt-5">5. Links to Other Websites</h2>
  <hr>
  <p>Our service does not contain links to third-party web sites or services that are not owned or controlled by 5 Inch
    Private Limited. We have no control over, and assume no responsibility for, the content, privacy policies, or
    practices of any third-party websites or services.</p>

  <h2 class="pt-5">6. Termination</h2>
  <hr>
  <p>We may terminate or suspend your account and bar access to the service immediately, without prior notice or
    liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to
    a breach of the Terms or Policy.</p>

  <h2 class="pt-5">7. Indemnification</h2>
  <hr>
  <p>You agree to defend, indemnify, and hold harmless Zeromeds and its licensee and licensors, and their employees,
    contractors, agents, officers, and directors, from and against any and all claims, damages, obligations, losses,
    liabilities, costs or debt, and expenses, resulting from or arising out of</p>
  <ol type="a">
    <li>
      your use and access of the service
    </li>
    <li>
      a breach of these Terms.
    </li>
  </ol>

  <h2 class="pt-5">8. Limitation of Liability</h2>
  <hr>
  <p>In no event shall Zeromeds, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for
    any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits,
    data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access
    or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from
    the Service; and (iv) unauthorized access, use or alteration of your transmissions or content.</p>

  <h2 class="pt-5">9. Governing Law</h2>
  <hr>
  <p>These Terms shall be governed and construed in accordance with the laws of [India Gujarat], without regard to its
    conflict of law provisions.</p>

  <h2 class="pt-5">10. Changes</h2>
  <hr>
  <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
    material, we will provide at least 10 days' notice prior to any new terms taking effect. What constitutes a material
    change will be determined at our sole discretion.</p>

  <h2 class="pt-5">11. Contact Us</h2>
  <hr>
  <p>If you have any questions about these Terms, please contact us at:</p>
  <p>Email: <a href="mailto:zeromedsinfo@gmail.com">zeromedsinfo@gmail.com</a></p>
  <p>Phone: <a href="tel:+9163570178018">+9163570178018</a></p>
</div>