 /* */
 /* Font Definitions */
 /* @font-face {
   font-family: "Cambria Math";
   panose-1: 2 4 5 3 5 4 6 3 2 4;
 } */

 /* Style Definitions */
 /* p.MsoNormal,
 li.MsoNormal,
 div.MsoNormal {
   margin: 0in;
   line-height: 115%;
   font-size: 11.0pt;
   font-family: "Arial", sans-serif;
 } */

 ul li {
   list-style-type: disc;
 }

 ol li {
   list-style-type: lower-alpha;
 }

 body {
   font-family: "Open Sans", sans-serif;
   color: #444444;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Raleway", sans-serif;
 }

 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   margin-top: 0;
   margin-bottom: .5rem;
   font-weight: 500;
   line-height: 1.2;
 }

 /* h1 {
  margin-top: 20.0pt;
  margin-right: 0in;
  margin-bottom: 6.0pt;
  margin-left: 0in;
  line-height: 115%;
  page-break-after: avoid;
  font-size: 20.0pt;
  font-family: "Arial", sans-serif;
  font-weight: normal;
} */

 /* h2 {
  margin-top: .25in;
  margin-right: 0in;
  margin-bottom: 6.0pt;
  margin-left: 0in;
  line-height: 115%;
  page-break-after: avoid;
  font-size: 16.0pt;
  font-family: "Arial", sans-serif;
  font-weight: normal;
}

h3 {
  margin-top: 16.0pt;
  margin-right: 0in;
  margin-bottom: 4.0pt;
  margin-left: 0in;
  line-height: 115%;
  page-break-after: avoid;
  font-size: 14.0pt;
  font-family: "Arial", sans-serif;
  color: #434343;
  font-weight: normal;
}

h4 {
  margin-top: 14.0pt;
  margin-right: 0in;
  margin-bottom: 4.0pt;
  margin-left: 0in;
  line-height: 115%;
  page-break-after: avoid;
  font-size: 12.0pt;
  font-family: "Arial", sans-serif;
  color: #666666;
  font-weight: normal;
} */

 /* .MsoChpDefault {
  font-family: "Arial", sans-serif;
} */

 .MsoPapDefault {
   line-height: 115%;
 }

 @page WordSection1 {
   size: 8.5in 11.0in;
   margin: 1.0in 1.0in 1.0in 1.0in;
 }

 div.WordSection1 {
   page: WordSection1;
 }

 /* List Definitions */
 ol {
   margin-bottom: 0in;
 }

 ul {
   margin-bottom: 0in;
 }

 /*  */