<!-- breadcrumb -->
<section class="w3l-about-breadcrumb">
  <div class="breadcrumb-bg breadcrumb-bg-about">
    <div class="container py-lg-5 py-sm-4">
      <div class="w3breadcrumb-gids text-center">
        <div class="w3breadcrumb-info mt-5">
          <h2 class="w3ltop-title pt-4">Services</h2>
          <ul class="breadcrumbs-custom-path">
            <li><a href="">Home</a></li>
            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Services </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//breadcrumb-->
<!--/services-->
<section class="w3l-services2" id="services">
  <div id="cwp23-block" class="py-5">
    <div class="container py-lg-5">
      <div class="row cwp23-content mb-lg-5 mb-4">
        <div class="col-lg-6 cwp23-img">
          <h6 class="title-subhny mb-2">What We Do?</h6>
          <h3 class="title-w3l mb-4">Seamlessly Connecting Retailers and Distributors
          </h3>



        </div>
        <div class="col-lg-6 cwp23-text mt-lg-0 mt-5 ps-lg-5">
          <p class="mb-4">Welcome to Zeromeds, the premier platform designed to bridge the gap
            between retailers and distributors. Our innovative application revolutionizes the way
            businesses interact, ensuring a smooth, efficient, and productive supply chain process.

          </p>
          <!-- <p class="mb-4">Sed volutpat eget dui ut tempus. Fusce fringilla tincidunt laoreet
                      Morbi ac metus vitae diam scelerisque malesuada eget eu mauris.Cras varius lorem ac velit
                      pharetra.

                  </p> -->

        </div>
      </div>
      <div class="row cwp23-content">
        <div class="col-lg-6 cwp23-img">
          <div class="w3l-market-seo-img">
            <img src="assets/images/mac-business.png" alt="business" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6 cwp23-text mt-lg-0 mt-5 ps-lg-5">
          <h6 class="title-subhny mb-2">What We Offer</h6>
          <h3 class="title-w3l mb-4">comprehensive platform that empowers both retailers and distributors
          </h3>

          <p class="mb-4">Our application provides a seamless interface for retailers to explore a vast
            array of products, place orders with ease, and receive real-time updates on inventory and
            order statuses. Distributors benefit from direct access to a broad network of retailers,
            streamlined order management, and valuable market insights.

          </p>
          <div class="w3l-buttons mt-sm-5 mt-4">
            <a class="btn btn-primary btn-style me-2" href="about">Read More </a>
            <a class="btn btn-outline-primary btn-style mr-2" href="contact"> Contact Us </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<!--//services-->
<!-- features section -->
<section class="w3l-features w3l-passion-mid-sec py-5" id="features">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="title-content mb-5 text-center">
      <h6 class="title-subhny mb-2">Services</h6>
      <h3 class="title-w3l mb-4">We Offer Services</h3>
    </div>
    <div class="main-cont-wthree-2 align-items-center text-left">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-6">
          <div class="grids-1 box-wrap">
            <div class="icon">
              <i class="fas fa-archive"></i>
            </div>
            <h4><a href="#service" class="title-head mb-3">Extensive Product Catalog</a></h4>
            <p class="text-para">Discover a wide range of products from multiple distributors all in one
              place. Our extensive catalog ensures that retailers have access to diverse and
              high-quality products, meeting the demands of their customers and staying ahead in the
              competitive market.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
          <div class="grids-1 box-wrap">
            <div class="icon">
              <i class="fas fa-handshake"></i>
            </div>
            <h4><a href="#service" class="title-head mb-3">Streamlined Order Management</a></h4>
            <p class="text-para">Simplify your ordering process with our intuitive order management
              system. From order placement to tracking and fulfillment, our platform ensures a
              hassle-free experience, allowing you to focus on growing your business without worrying
              about logistical challenges.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
          <div class="grids-1 box-wrap">
            <div class="icon">
              <i class="fas fa-bell"></i>
            </div>
            <h4><a href="#service" class="title-head mb-3">Real-Time Inventory and Order Updates
              </a></h4>
            <p class="text-para">Stay informed with real-time updates on inventory levels and order
              statuses. Our platform provides instant notifications and tracking, ensuring that you
              are always aware of stock availability and the progress of your orders, reducing the
              risk of stockouts or delays.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
          <div class="grids-1 box-wrap">
            <div class="icon">
              <i class="fas fa-percent"></i>
            </div>
            <h4><a href="#service" class="title-head mb-3">Exclusive Deals and Promotions</a></h4>
            <p class="text-para">Take advantage of exclusive deals and promotional offers available only
              through our platform. Distributors can showcase their special offers to attract more
              retailers, while retailers benefit from discounts and deals that enhance their profit
              margins and product offerings. </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--//features section -->

<!--/w3l-services-->
<!-- <section class="w3l-services py-5" id="services">
  <div class="container py-md-5 py-3 pb-4">
      <div class="title-content mb-5 text-center">
          <h6 class="title-subhny mb-2">Services</h6>
          <h3 class="title-w3l mb-4">We Offer Services</h3>
      </div>
      <div class="row about-cols">
          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
              <div class="about-col">
                  <div class="icon"><i class="fas fa-envelope-open-text"></i></div>

                  <h4 class="title"><a href="#">Email Marketing</a></h4>
                  <p>
                      Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                      tempufddfel.
                  </p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
              <div class="about-col">
                  <div class="icon"><i class="fas fa-search-dollar"></i></div>

                  <h4 class="title"><a href="#">Market Research</a></h4>
                  <p>
                      Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                      tempufddfel.
                  </p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
              <div class="about-col">
                  <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
                  <h4 class="title"><a href="#">Online Marketing</a></h4>
                  <p>
                      Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                      tempufddfel.
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
              <div class="about-col">
                  <div class="icon"><i class="far fa-edit"></i></div>

                  <h4 class="title"><a href="#">Web Development</a></h4>
                  <p>
                      Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                      tempufddfel.
                  </p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
              <div class="about-col">
                  <div class="icon"><i class="fas fa-key"></i></div>

                  <h4 class="title"><a href="#">Keyword Research</a></h4>
                  <p>
                      Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                      tempufddfel.
                  </p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
              <div class="about-col">
                  <div class="icon"><i class="fas fa-sitemap"></i></div>
                  <h4 class="title"><a href="#">Optimization</a></h4>
                  <p>
                      Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at
                      tempufddfel.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!--//w3l-services-->